<div class="project-roles-wrapper" id="turbolinks" data-turbolinks-temporary style="width:40%;">
  <div id="roles">
    <% @roles = Role.all %>

    <table class='list'>
      <thead>
        <tr>
          <th colspan="2">Role</th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
        <tr>
          <td class='name'><%= role.name %></td>
          <td class="buttons" style="width: 30px">
            <%= link_to l(:button_edit),
              edit_project_role_path(@project, role),
              :class => 'icon icon-edit' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<% content_for :header_tags do %>
<%= javascript_include_tag 'application', :plugin => 'redmine_overwriting_roles', 'data-turbolinks-track' => true %>
<% end %>
